extends layout

block content
  div.jumbotron
      div.container-fluid
          div.row
            each player, u in players
              div.col-md-1
                img.img-responsive(src='/images/#{player.nickname}.png')
                h2 #{player.score}
